$white:#fff;
$aqua:#0A99AB;
$soft-white:#E6F5F7;
$soft-aqua:#00B8CF;
$dark-blue:#002550;
$not-regular-blue:#2E4E71;
$not-white:#AAEFF9;
$active-bg:#B5E0E6;
$black: #000;
$regular-blue:#2A334D;